
.slider {
  width: 100%;
  max-width: 1280px;
  height: 500px;
  position: relative;
  overflow: hidden; /* <===  */
  border-radius: 15px;
}

.blackandwhite{
  filter: grayscale(100);
}

.responsive {
  width: 60%;
  margin-left:auto;
  margin-right:auto;
  display:block;
  height: auto;
  max-height:70%;
}

.slide {
  width: 100%;
  max-width: 1280px;
  height: 500px;
  position: absolute;
  transition: all 0.5s;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.btn {
  position: absolute;
  borde:none;
  background-color:transparent;
  color:black;
  
}

.btn:hover {
  transform: scale(1);
  background-color:transparent;
}

.btn-prev {
  top: 45%;
  left: 2%;
}

.btn-next {
  top: 45%;
  right: 2%;
}

.out_btn.waves-effect.waves-black { border: 2px solid black; color:black;}
.out_btn.waves-effect.waves-black.waves-ripple {
    background-color: black;
  }