.practice_slider {
  height: 420px;
  display: flex;
  justify-items: center;
  align-items: center;
}

.practice_content{
	height:400px;
	display:cover;
}

.practice-slider {
  overflow: hidden;
  position: relative;
  display: flex;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
}

.practice-slider div {
  display: flex;
  position: relative;
  align-items: center;
  animation: marquee 88s ease-in-out infinite;
  animation-delay:.5s;
  justify-content: space-around;
}

.practice-slider div img {
  display: cover;
  aspect-ratio: 1;
  height: 350px;
  filter: grayscale(100);
  border:none;
  outline:none;
}

.practice-slider div img:hover {
  filter: grayscale(0);
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  12.5% {
    transform: translateX(-12.5%);
  }
  25% {
    transform: translateX(-25%);
  }
  37.5% {
    transform: translateX(-37.5%);
  }
  50% {
    transform: translateX(-50%);
  }
  62.5% {
    transform: translateX(-62.5%);
  }
  75% {
    transform: translateX(-75%);
  }
  87.5% {
    transform: translateX(-87.5%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.container {
  position: relative;
  margin-top: 3%;
}
h1 {
  text-align: center;
  padding-bottom: 15px;
  font-family: Montserrat;
}
.control {
  list-style: none;
}
.control li {
  position: absolute;
  z-index: 99;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  background: rgba(0, 0, 0, 0.5);
  padding: 12px 20px;
  border-radius: 50%;
  cursor: pointer;
}
.control li:hover {
  background: #000;
}
.control li.prev {
  left: 20px;
}
.control li.next {
  right: 20px;
}
.tns-nav {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
.tns-nav button {
  height: 13px;
  width: 8px;
  background-color: #a5a5a5;
  border: none;
  margin-left: 7px;
  border-radius: 50%;
}
.tns-nav .tns-nav-active {
  background-color: black;
}
.link {
  position: fixed;
  background-color: #d12322;
  padding: 23px 40px;
  right: 0;
  border-radius: 5px;
  top: 0;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.1s ease-in-out;
}

.link i {
  padding-left: 7px;
}

.link:hover {
  text-decoration: underline;
  background-color: black;
}

